# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/


#src
application.properties
settings.gradle

#security stuff
src/main/resources/META-INF/resources/privateKey.pem
src/main/resources/META-INF/resources/publicKey.pem
src/main/resources/META-INF/resources/rsaPrivateKey.pem

target/classes/META-INF/resources/privateKey.pem
target/classes/META-INF/resources/publicKey.pem
target/classes/META-INF/resources/rsaPrivateKey.pem

target/